<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <table border="2px" style="text-align: center;">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phonenumber</th>
            <th>Delete</th>
            <th>Approve</th>
        </tr>
        {% for i in func %}
        <tr>
            <td>{{ i.student_id.first_name }}</td>
            <td>{{ i.student_id.last_name }}</td>
            <td>{{ i.student_id.email }}</td>
            <td>{{ i.address }}</td>
            <td>{{ i.phone_number }}</td>
            <td><a href="{% url 'delete_student' i.id %}">Delete</a></td>
            <td><a href="{% url 'approve_student' i.id %}">Approve</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
